# Git
.git
.gitignore

# Environment Variables
.env
.env.sample

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDEs
.vscode
.idea

# System
.DS_Store
Thumbs.db
